*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime; */
}

html{
    font-family: sans-serif;
}

header{
    background-color:#ff6900;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 1px 12px #888888;
    z-index: 1;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header .flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    gap: 10px;
}

ul li{
    list-style-type: none;
}

header ul li a{
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;
}

header figure img{
    width: 120px;
}

main{
    margin-top: 150px;
    margin-bottom: 50px;
}



main div figure img{
    width: 100%;
}

main .card ul li:first-child{
    text-transform: capitalize;
}

main .card ul li:nth-child(2){
    font-size: 20px;
    text-transform: uppercase;
}

main .card .red-text{
    color: red;
}

main .card .line-through{
    text-decoration: line-through;
}

main figure{
    position: relative;
    z-index: 0;
}

main .card figure .discount-position{
    position: absolute;
    left: 0;
    bottom: 50px;
}

main .card figure .discount-position .discount{
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

main .card figure .discount-position .back-green{
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

main .card figure .heart{
    background-color: white;
    padding: 10px 15px;
    font-size: 35px;
}

main .card figure .heart-position{
    position: absolute;
    top: 20px;
    right: 0;
}

main div.flex-main{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

main .card{
    flex-basis: 32%;
}

main .card figure .heart:hover{
    color: red;
}

.img1 {
    display: block;
}
.img2 {
    display: none;
}

.change:hover .img1 {
   display: none;
}
.change:hover .img2 {
   display: block;
}

footer{
    background-color: #1a1a1a;
    color: white;
    text-transform: capitalize;
    padding: 20px;
}

footer .container{

    display: flex;
    justify-content: space-between;
}

footer .container > div:first-child ul,
footer .container > div:last-child ul{
    display: flex;
    gap: 10px;
}

footer ul{
    margin-top: 10px;
    font-size: 12px;
}

footer a{
    font-size: 20px;
    color: white;
}