*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime; */
}

html{
    font-family: sans-serif;
}

header{
    background-color:#ff6900; 
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 1px 12px #888888;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header .flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    gap: 10px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;
}

header figure img{
    width: 120px;
}

